DB_HOST=localhost
DB_USER=visiacap_user
DB_PASSWORD=VisIacap123#
DB_NAME=visiacap
JWT_SECRET=tu_super_secreto_jwt_api_visiacap
PORT=3000

# Configuración de Google Analytics 4 (OAuth2)
GA_CLIENT_ID=
GA_CLIENT_SECRET=
GA_REFRESH_TOKEN=
GA_PROPERTY_ID=

